doctype html
html
  head
    title burstah go.cd monitor
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(http-equiv="refresh", content="15")
  body
    block content

    .footer powered by
      span.name  burstah v 0.0.1