@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
  color: white;
  background-color: black;

  .footer {
    font: 15px "Lobster";
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: rgb(181,185,53);
    .name{
      color: rgb(239,91,161);
    }
  }
}

//CSS animtation for ongoing build
@-webkit-keyframes building {
  0%   {background: rgb(38,189,207);}
  100%  {background: rgb(239,91,161);}
}

.building {
  -webkit-animation: building 2s ease-out 0s infinite alternate;
}
//END


.stage {
  width: 49%;
  min-height: 120px;
  margin-top: 4px;
  font-family: "Open Sans";
  &.left{
    float: left;
  }
  &.right{
    float: right;
  }
  &.success{
    background-color: rgb(17,170,88);
  }
  &.failure{
    background-color: rgb(238,49,45);
  }
  .row{
    margin-bottom: 3px;
    height: 50%;
  }
  .name {
    padding-left: 5px;
    font-size: 25px;
    font-weight: bolder;
    width: 80%;
    float: left;
  }
  .build-number{
    font-size: 25px;
    font-weight: lighter;
    width: 19%;
    float: right;
    text-align: center;
  }
  .commit-msg{
    float: left;
    width: 100%;
    padding-left: 5px;
  }
  .committer{
    padding-left: 5px;
    float: left;
  }
}
